:root{
    --padding: 5px;
    --gap: 10px;
    --normal_width: 16%;
    --double_width: 32%;
    --normal_height: 34px;
}

body{
    display: grid;
    grid-template-rows: var(--normal_height)
                        auto
                        var(--normal_height)
                        var(--normal_height);
    grid-gap: var(--gap);
}

.table_head{
    display: flex;
    flex-direction: row;
    grid-gap: var(--gap);
}

label{
    font-weight: bold;
    width: var(--normal_width);
}

#nom, #unitats, #preu_unitat, #preu_total, #opcions{
    font: Arial;
    color: white;
    background-color: silver;
    padding: var(--padding);
}

#nom{
    width: var(--double_width);
}

input[type=text]{
    width: var(--normal_width);
    height: var(--normal_height);
}

#cart_elements{

}

.total_area{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    padding-right: var(--normal_width);
}

#total_label{
    text-align: end;
}

#total{
    background: lightgreen;
    width: var(--normal_width);
    padding-right: var(--gap);
    text-align: end;
}

.add_to_cart{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: var(--gap);
    
}

#new_nom{
    width: var(--double_width);
}

.add_button_area{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: var(--normal_width);
}

#add_button{
    background: none;
    outline: none;
    border: none;
    width: var(--double_width);
}

#add_button:hover{
    outline: auto;
}